/** {*/
    /*margin: 0;*/
    /*font-size: 1em;*/
/*}*/

/*body {*/
    /*background-color: white;*/
    /*margin: 0 auto;*/
/*}*/

/*header {*/
    /*color: white;*/
    /*width: 100%;*/
    /*font-family: fantasy;*/
    /*background: dodgerblue -webkit-gradient(linear, left top, left bottom, from(blue), to(rgb(15, 213, 255)));*/
/*}*/

/*header h1 {*/
    /*margin-left: 25px;*/
    /*font-weight: 400;*/
    /*font-size: 5em;*/
    /*text-align: left;*/
    /*text-shadow: -1px 1px 8px #ffc, 1px -1px 8px white;*/
/*}*/

/*header h1 a:hover {*/
    /*text-shadow: -1px 10px 40px #ffc, 10px -1px 40px white;*/
/*}*/

/*header a {*/
    /*color: white;*/
    /*text-decoration: none;*/
/*}*/

#header-menubar {
    color: white;
    width: 100%;
    font-family: fantasy;
    background-color: rgba(15, 213, 255, 0.7);
    text-decoration: none;
    font-size: 1.5em;
}

#header-menubar a {
    color: white;
    text-decoration: none;
}

#header-menubar table {
    width: 100%;
    text-align: center;
}

#header-menubar td:hover {
    text-shadow: -1px 1px 8px #ffc, 1px -1px 8px white;
    background-color: rgba(15, 213, 255, 1.0);
}

/*#main {*/
    /*margin-top: 30px;*/
/*}*/

/*#content {*/
/*float: left;*/
/*margin-left: 15px;*/
/*text-align: justify;*/
/*width: 70%;*/
/*}*/

/*#dashboard-bar {*/
/*position: fixed;*/
/*right: 0;*/
/*width: 25%;*/
/*}*/

/*#overview {*/
/*}*/

/*#overview table {*/
/*border-collapse: collapse;*/
/*}*/

/*#overview table tr {*/
/*border: black solid;*/
/*}*/

/*#overview table td {*/
/*padding: 15px*/
/*}*/

footer {
    font-size: 0.6em;
    font-family: Arial, sans-serif;
    background-color: grey;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    color: white;
    padding: 4px;
    clear: both;
}

footer p {
    font-size: 1.1em;
    text-align: center;
}



