* {
    margin: 0;
    font-size: 1em;

}

body {
    background-color: white;
    margin: 0 auto;
}

header {
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 123px;
    font-family: fantasy;
    background: dodgerblue -webkit-gradient(linear, left top, left bottom, from(blue), to(rgb(15, 213, 255)));
}

header h1 {
    margin-left: 25px;
    font-weight: 400;
    font-size: 5em;
    text-align: left;
    text-shadow: -1px 1px 8px #ffc, 1px -1px 8px white;
}

header h1 a:hover {
    text-shadow: -1px 10px 40px #ffc, 10px -1px 40px white;
}

header a {
    color: white;
    text-decoration: none;
}

#header-menubar {
    font-size: 1.2em;
    height: 30px;
    background-color: rgba(15, 213, 255, 0.70);
}

#header-menubar ul {
    width: 100%;
    list-style: none;
    margin-left: -40px;
    /*height: 25px;*/
}

#header-menubar li {
    width: 25%;
    float: left;
    text-align: center;
}

#header-menubar li:hover {
    text-shadow: -1px 1px 8px #ffc, 1px -1px 8px white;
    background-color: rgba(15, 213, 255, 1.0);
}

#main {
    overflow: auto;
    padding-top: 170px;
    min-height: 1000px;
}

#content {
    float: left;
    margin-left: 15px;
    text-align: justify;
    width: 70%;

}

#dashboard-bar {
    position: fixed;
    right: 0;
    width: 25%;
}

#overview {
    position: absolute;
    height: 200px;
    margin-right: 15px;
    border: black solid;
}

#overviewt table {
    width: 100%;
    height: 100%;
}

#overview table tr {
}

footer {
    font-size: 0.6em;
    font-family: Arial, sans-serif;
    background-color: grey;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    color: white;
    padding: 4px;
    clear: both;
}

footer p {
    font-size: 1.1em;
    text-align: center;
}



